@use '../../foundation/mixin' as m;
@use '../../foundation/variables' as vars;

// ========================================
//  Blockquote (引用デザイン用) 
// ========================================
//  ・出典リンクのみ下線を付与。
//  ・タイポグラフィ・背景色は、HTML側（Component）で指定。
// ────────────────────────────────────────

.c-blockquote {
  display: flex;
  flex-direction: column;
  @include m.clamp-mobile(gap, 30, 61);
  @include m.clamp-mobile-multi(padding, (30 16 27 20), (50 56 57 50));

  @include m.mq(desktop) {
    @include m.clamp-desktop(padding-left, 56, 60);
    @include m.clamp-desktop-reverse(padding-bottom, 57, 47);
  }

  &__link {
    text-decoration: underline;
  }
}

 