@use '../../foundation/mixin' as m;
@use '../../foundation/variables' as vars;

// ============================================================
//  Visual （メインビジュアル・ヒーロー画像）
// ============================================================
//  ・共通スタイルのみ定義。
//  ・高さや画像の表示位置は、Component / Project 側で個別に設定。
// ────────────────────────────────────────────────────────────

.c-visual {
  position: relative;
  overflow: hidden;
  width: 100%;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  &__content, &__title {
    position: absolute;
  }

  //テキストは縦中央配置
  &--center-y { 
    .c-visual__content,
    .c-visual__title {
      top: 50%;
      transform: translateY(-50%);
    }
  }

}