@use '../../foundation/mixin' as m;
@use '../../foundation/variables' as vars;
@use '../component' as *;

.p-access {
  position: relative;
  width: 100%;
  @include m.clamp-mobile-reverse(min-height, 691, 415);
  @include m.mq(desktop) {
    @include m.clamp-desktop(min-height, 415, 649);
  }

  &__bg {
    position: absolute;
    inset: 0;
    z-index: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__overlay1 {
    position: absolute;
    inset: 0;
    z-index: 1;
  }

  &__overlay2 {
    // ----------------------------------------
    // Mobile (上配置）
    // ----------------------------------------
    position: absolute;
    top: 0;
    right: 0;
    bottom: 40%;
    left: 0;
    z-index: 2;

    // ----------------------------------------
    // Tablet (100%配置）
    // ----------------------------------------
    @include m.mq() {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    // ----------------------------------------
    // Desktop (左配置）
    // ----------------------------------------
    @include m.mq(desktop) {
      top: 0;
      left: 0;
      right: 39.8%;
    }
  }

  &__inner {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 42px 40px 57px 40px;

    @include m.mq() {
      padding: 42px 29px 40px 42px;
    }

    @include m.mq(desktop) {
      @include m.clamp-desktop(gap, 14, 58.5);
      @include m.clamp-desktop-multi(padding-block, (42 40), (86 75));
      padding-right: 47.5%; 
      @include m.clamp-desktop(padding-left, 42, 119);
    }
  }

  &__title {
      font-weight: vars.$bold;
      @include m.font-size(30);

      @include m.mq(desktop) {
        @include m.clamp-desktop(font-size, 30, 36);
      }

    &.c-underline::after {
      height: 2px;
      width: 75px;
      margin-top: 15px;

      @include m.mq(desktop) {
        @include m.clamp-desktop(margin-top, 15, 50.5);
      }
    }
  }

  &__text {
      line-height: vars.$lh-xl;
      @include m.font-size(14);

      @include m.mq(desktop) {
        line-height: vars.$lh-l;
        @include m.font-size(16);
      }
  }

}