@use '../../foundation/variables' as *;

.p-access {
  position: relative;
  width: 100%;
  height: 649px;
  background-image: url("../../../images/top/access.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &::after {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color-bg-black, 0.5071);
    z-index: 1;
  }
  
  &__inner {
    position: relative;
    width: 61%;
    height: 100%;
    background-color: rgba($color-bg-black, 0.2855);
    padding: 86px 134px 75px 119px;
    z-index: 2;
  }

  &__title {
    position: absolute;
    font-size: 3.6rem;
    font-weight: 700;
    color: $color-text-white;
  }

  &__title::after {
    content: '';
    display: block;
    margin-top: 50.5px;
    width: 75px;
    height: 2px;
    background-color: $color-border-white;
  }

  &__text {
    height: 50%;
    margin-top: 162px;
    font-weight: 700;
    line-height: 33px;
    color: $color-text-white;
  }

}