@use '../../foundation/mixin' as m;
@use '../../foundation/variables' as vars;
@use '../component' as *;


.p-eatin {
  position: relative;
  width: 100%;
  aspect-ratio: 616 / 1197;
  min-height: 681px;
  overflow: hidden;

  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    display: block;
  }

  &__title {
    position: absolute;
    top: 24px;
    left: 10px;

    &.c-underline::after {
      height: 4px;
      @include m.clamp-mobile(margin-top, 19.34, 25.57);
      @include m.clamp-mobile(width, 33.89, 35.94);

      @include m.mq(desktop) {
        @include m.clamp-desktop(margin-top, 25.57, 43);
        @include m.clamp-desktop(width, 35.94, 63);
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    top: 839px;
    padding: 0 16px;
  }

  &__item {
    height: 162px;
    padding: 16px;
  }


  &__text {
    margin-top: 5px;
  }

}