@use '../../foundation/variables' as *;

.p-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 31px;
  width: 100%;
  height: 100%;
  background-image: url("../../../images/footer/footer.png");
  background-size: cover;

  &__nav-list {
    display: flex;
    justify-content: center;
    margin-top: 41px;
    font-size: 2rem;

    a {
      color: $color-text-white;
    }

    li::after {
      content: '|';
      margin: 0 8px;
      color: $color-text-white;
    }
    li:last-child::after {
      content: '';
    }
  }

  &__copy {
    font-size: 1.4rem;
    color: $color-text-white;
  }

}