@use '../../foundation/variables' as *;

.p-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 31px;
  width: 100%;
  height: 150px;
  background-image: url("../../../images/footer/footer.png");
  background-size: cover;

  &__nav-list {
    display: flex;
    justify-content: center;
    margin-top: 41px;
    font-size: 2rem;
  }

  &__item {

    &::after {
      content: '|';
      margin: 0 8px;
      color: $color-white;
    }

    &:last-child::after {
      content: '';
    }

  }

  &__link {
    color: $color-white;
  }

  &__copy {
    font-size: 1.4rem;
    color: $color-white;
  }

}