@use '../../foundation/variables' as *;

.p-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 65px 2% 65px 4.2%;
  box-sizing: border-box;

  &__logo {
    width: 100%;
  }

  &__logo img {
    width: 20.9%;
    min-width: 203px;
  }

}

