@use '../../foundation/variables' as *;

.p-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 65px 2% 65px 4.2%;
  box-sizing: border-box;

  &__logo img {
    width: 325px;
    height: 84px;
  }

}

