@use '../../foundation/mixin' as m;
@use '../../foundation/variables' as vars;

.p-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 215px;

  @include m.mq(mobile) {
    gap: 40px;
  }  

  @include m.mq() {
    height: 217px;
  }

  @include m.mq(desktop) {
    flex-direction: row;
    justify-content: space-between;
    gap: 65px;
    padding: 31px;
  }

  background-color: vars.$color-cream-100;

  &__logo img {
    width: 203px;

    @include m.mq(desktop) {
      padding: 0 34px;
      @include m.clamp-desktop(width, 287, 325);
    }
  }
}