@use '../../foundation/variables' as *;

.p-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 66px 31px 67px 65px;
  box-sizing: border-box;
  background-color: $color-bg-header;


  &__logo img {
    width: clamp(203px, 16.93vw, 325px);
    height: auto;
  }

}

