@use '../../foundation/mixin' as m;
@use '../../foundation/variables' as vars;

// ========================================
//  Hero（下層ページのメインビジュアル）
// ========================================

.p-hero {
  height: 285px;

  @include m.mq(desktop) {
    @include m.clamp-desktop-reverse(height, 285, 239);
  }

  &__img {
    object-position: center;
    z-index: 0;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    z-index: 1;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @include m.clamp-mobile(left, 37, 86);
    z-index: 2;

    @include m.mq() {
      flex-direction: row;
      align-items: center;
      gap: 19px;
    }
  }

  &__subtitle {
    @include m.mq() {
      padding: 31px 0 15px 0;
    }

  }
}

