@forward "wrapper";
@forward "header";
@forward "aside";
@forward "footer";


@forward "main-visual";

@forward "main-container";
@forward "takeout";
@forward "eatin";
@forward "access";

@forward "sidemenu";

