@use '../../foundation/variables' as *;

.p-main-visual {
  position: relative;
  width: 100%;
  height: 530px;
  overflow: hidden;

  &__inner {
    position: relative;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 5.5%;
    font-size: 2.5rem;
    color: $color-text-white;
    font-style: bold;
  }
}