@use '../../foundation/variables' as *;
@use '../component' as *;

.p-main-visual {
  position: relative;
  width: 100%;
  aspect-ratio: 1553 / 530;
  overflow: hidden;

  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 55%;
    display: block;
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 5.5%;
    transform: translateY(-50%);
  }
}