@use '../../foundation/mixin' as m;
@use '../../foundation/variables' as vars;
@use '../component' as *;

.p-main-visual {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 285px;
  @include m.mq(desktop) {
    @include m.clamp-desktop(height, 285, 530);
  }

  &__title {
    position: absolute;
    top: 50%;
    @include m.clamp-desktop(left, 25, 86);
    transform: translateY(-50%);
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 55%;
    display: block;
  }
}