.p-menu-container {
  display: flex;
  gap: clamp(42px, 4.21vw, 81px);
  margin: 0;
  padding-top: clamp(41px, 6.25vw, 120px);
  padding-inline: clamp(41px, 6.25vw, 120px);
  padding-bottom: clamp(41px, 6.77vw, 130px);
}