@use '../../foundation/mixin' as m;
@use '../../foundation/variables' as vars;

.p-mv {
  height: 285px;

  @include m.mq(desktop) {
    @include m.clamp-desktop(height, 285, 530);
  }
  
  &__img {
    object-position: 50% 55%;
  }
  
  &__title {
    @include m.clamp-mobile(left, 25, 86);

      font-weight: vars.$bold;
      @include m.font-size(36);
      @include m.mq(desktop) {
        @include m.clamp-desktop(font-size, 36, 40);
      }
  }

}