@use '../../foundation/mixin' as m;
@use '../../foundation/variables' as vars;
@use '../component' as *;

// =====================================================
//  Search Form （サイト内検索フォーム）
// =====================================================
//  ・縦並び → 375px以上で横並び
//  ・入力欄に虫眼鏡アイコン表示
// ─────────────────────────────────────────────────────

.p-search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  @include m.clamp-mobile(gap, 12, 14);
  width: 100%;
  @include m.clamp-mobile(max-width, 318, 546);

  @include m.mq(mobile) {
    flex-wrap: nowrap;
  }

  &__input {
    width: 100%;
    height: 46px;
    border-radius: 10px;

    //padding
    @include m.clamp-mobile-reverse(padding-top, 11, 7);
    padding-right: 12px;
    @include m.clamp-mobile-reverse(padding-bottom, 11, 6);
    @include m.clamp-mobile(padding-left, 49, 61);

    //background
    background-color: vars.$color-white;
    background-image: url("../../../images/search/search.png");
    background-repeat: no-repeat;
    @include m.clamp-mobile(background-position-x, 5, 12);
    background-position-y: center;
    background-size: 24px 24px;
  }

  .c-button--grad {
    border-radius: 10px;
    @include m.clamp-mobile(width, 90, 136);
    height: 46px;

    @include m.mq(desktop) {
      @include m.clamp-desktop(width, 90, 136);
    }
  }
}
