@use '../../foundation/variables' as *;

.p-search-form {
  display: flex;
  align-items: center;
  width: 546px;

  &__label {
    display: flex;
    align-items: center;
  }

  &__input {
    width: 396px;
    height: 46px;
    border: 1px solid $color-border-light;
    border-radius: 10px;
    background: $color-bg-white url("../../../images/header/search.png") no-repeat left 12px center;
    background-size: 24px 24px;

  }

  &__button {
    border: 1px solid $color-border-light;
    background: linear-gradient(90deg, $color-bg-button 0%, $color-bg-button2 100%);
    width: 136px;
    height: 46px;
    border-radius: 10px;
    margin-left: 14px;
  }
}