@use '../../foundation/variables' as *;

.p-search-form {
  display: flex;
  align-items: center;
  width: 35.2%;
  min-width: 318px;

  &__label {
    display: flex;
    align-items: center;
  }

  &__input {
    width: 72.5%;
    min-width: 216px;
    height: 46px;
    border: 1px solid $color-border-light;
    border-radius: 10px;
    background: $color-bg-white url("../../../images/header/search.png") no-repeat left 12px center;
    background-size: 6% auto;

  }

  &__button {
    width: 24.9%;
    min-width: 90px;
    height: 46px;
  }
}