@use '../../foundation/mixin' as m;
@use '../../foundation/variables' as vars;

.p-sidemenu {
  width: 100%;
  height: 100%;
  padding: 178px 20px 84px 46px;

  color: vars.$color-gray-700;
  background-color: vars.$color-beige-100;
  
  @include m.mq(desktop) {
    display: flex;
    flex-direction: column;
    gap: 90px;
    padding-top: 84px;
    @include m.clamp-desktop(padding-left, 20, 46);
  }

  &__title {
    font-family: vars.$fontAccent;
    @include m.clamp-mobile(font-size, 20, 34);
    font-weight: vars.$bold;
    display: none;
    @include m.mq(desktop) {
      display: block;
    }
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    @include m.clamp-mobile(gap, 48, 60);
    @include m.mq(desktop) {
      gap: 48px;
    }
  }

  &__category {
    display: flex;
    flex-direction: column;
    @include m.clamp-mobile(gap, 32, 40);
    @include m.mq(desktop) {
      gap: 32px;
    }  
  }

  &__item {
    @include m.font-size(24);
    font-weight: vars.$bold;
  }

  &__sub-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 0 0 20px;
  }

  &__subitem {
    @include m.font-size(20);
  }
}

