@use '../../foundation/mixin' as m;
@use '../../foundation/variables' as vars;
@use '../component' as *;


.p-takeout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;

  width: 100%;
  @include m.clamp-mobile(min-height, 642, 681);
  padding: 13px 16px 16px 16px;

  background-image: url("../../../images/top/takeout--sp.jpg");
  background-size: cover;
  background-position: center;

  @include m.mq() {
    background-image: url("../../../images/top/takeout--tb.jpg");
  }

  @include m.mq(desktop) {
    @include m.clamp-mobile(min-height, 681, 1197);
    @include m.clamp-desktop(padding-top, 13, 24);
    background-image: url("../../../images/top/takeout--pc.jpg");
  }

  &__title {

    &.c-underline::after {
      background-color: vars.$color-white;
      height: 4px;
      @include m.clamp-mobile(margin-top, 19.34, 25.57);
      @include m.clamp-mobile(width, 33.89, 35.94);

      @include m.mq(desktop) {
        @include m.clamp-desktop(margin-top, 25.57, 43);
        @include m.clamp-desktop(width, 35.94, 63);
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__item {
    padding: 16px;
  }

  &__text {
    @include m.clamp-mobile(margin-top, 8, 16);

    @include m.mq(desktop) {
      @include m.clamp-desktop-reverse(margin-top, 16, 10);
    }
  }

}