@use '../../foundation/variables' as *;



.p-takeout {
  position: relative;
  width: 100%;
  height: 1197px;
  overflow: hidden;
  
  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    display: block;
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 5.5%;
    font-size: 2.5rem;
    color: $color-text-white;
    font-weight: bold;
    transform: translateY(-50%);
  }
  &__content {
    position: absolute;
    top: 50%;
    left: 5.5%;
    font-size: 2.5rem;
    color: $color-text-white;
    font-weight: bold;
    transform: translateY(-50%);
  }

}