@use '../../foundation/mixin' as m;
@use '../../foundation/variables' as vars;
@use '../component' as *;


.p-takeout {
  position: relative;
  width: 100%;
  aspect-ratio: 616 / 1197;
  min-height: 681px;
  overflow: hidden;
  
  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    display: block;
  }

  &__title {
    position: absolute;
    top: 24px;
    left: 10px;
    color: vars.$color-gray-200;
    &.c-font-heading--top-xl{
    font-family: vars.$fontAccent;
    }
  }

  &__title::after {
    content: '';
    display: block;
    margin-top: 43px;
    left: 17.5px;
    width: 63px;
    height: 4px;
    background-color: vars.$color-white;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    top: 839px;
    padding: 0 16px;
  }

  &__item {
    height: 162px;
    background-color: rgba(vars.$color-white, 0.8);
    padding: 16px;
  }

  &__subtitle {
    font-size: 2.4rem;
    font-weight: 700;
  }

  &__text {
    margin-top: 5px;
  }

}