@use '../../foundation/variables' as *;

.p-takeout {
  position: relative;
  width: 100%;
  aspect-ratio: 1197 / 616;
  min-height: 642px;
  overflow: hidden;
  
  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    display: block;
  }

  &__title {
    position: absolute;
    top: 24px;
    left: 10px;
    font-size: 8rem;
    color: $color-text-takeout-title;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }

  &__title::after {
    content: '';
    display: block;
    margin-top: 43px;
    left: 17.5px;
    width: 63px;
    height: 4px;
    background-color: $color-border-white;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    top: 839px;
    padding: 0 16px;
  }

  &__item {
    height: 162px;
    background-color: rgba($color-bg-white, 0.8);
    padding: 16px;
  }

  &__subtitle {
    font-size: 2.4rem;
    font-weight: 700;
  }

  &__text {
    margin-top: 5px;
  }

}