@use '../foundation/mixin' as m;
@use '../foundation/variables' as vars;



body {
  font-family: vars.$fontBase;
  @include m.font-size(16);
  font-weight: vars.$regular;
  color: vars.$color-text-base;
  background-color: vars.$color-bg-base;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}