@use '../foundation/mixin' as *;
@use '../foundation/variables' as *;



body {
  font-family: $fontBase;
  @include fontsize(16);
  font-weight: $regular;
  color: $color-text;
  background-color: $color-bg-base;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}