@use "sass:map";

$breakpoints: (
  'tablet': 'screen and ( min-width: 768px )',
  'desktop': 'screen and ( min-width: 1024px )',
);

@mixin mq( $breakpoint: "tablet" ) {
  @media #{ map.get( $breakpoints, $breakpoint)}{
    @content;
  }
}