@use "sass:math";
@use "sass:map";

// ========================================
//  Break Point
// ========================================


$breakpoints: (
  'mobile': 'screen and ( min-width: 375px )',
  'tablet': 'screen and ( min-width: 768px )',
  'desktop': 'screen and ( min-width: 1024px )',
);

@mixin mq( $breakpoint: "tablet" ) {
  @media #{ map.get( $breakpoints, $breakpoint)}{
    @content;
  }
}

// ========================================
//  Font Size
// ========================================

@mixin font-size($size) {
  font-size: $size + px;
  font-size: ($size / 16) * 1rem;
}


// ========================================
//  Clamp Mixins
// ========================================

// ----------------------------------------
//  自動 clamp 生成（Mobile）375→767px
// ----------------------------------------

//$property - font-size / margin / padding / width / gap など
//$start-px - 初期サイズ（px）
//$end-px - 終了サイズ（px）
@mixin clamp-mobile($property, $start-px, $end-px) {
  $slope: math.div($end-px - $start-px, 767 - 375); //傾き
  $intercept-rem: math.div($start-px - ($slope * 375), 16); // 切片（rem）

  // clamp生成
  #{$property}: clamp(
    #{$start-px}px,
    calc(#{$intercept-rem}rem + #{$slope * 100}vw),
    #{$end-px}px
  );
}

// ----------------------------------------
//  自動 clamp 生成（PC）1024→1920px
// ----------------------------------------

//$property - font-size / margin / padding / width / gap など
//$start-px - 初期サイズ（px）
//$end-px - 終了サイズ（px）
@mixin clamp-desktop($property, $start-px, $end-px) {
  $slope: math.div($end-px - $start-px, 1920 - 1024); //傾き
  $intercept-rem: math.div($start-px - ($slope * 1024), 16); // 切片（rem）

  // clamp生成
  #{$property}: clamp(
    #{$start-px}px,
    calc(#{$intercept-rem}rem + #{$slope * 100}vw),
    #{$end-px}px
  );
}


// ----------------------------------------
//  自動 逆clamp 生成（Mobile）375→767px
// ----------------------------------------

//$property - font-size / margin / padding / width / gap など
//$start-px - 初期サイズ（px）
//$end-px - 終了サイズ（px）
@mixin clamp-mobile-reverse($property, $start-px, $end-px) {
  $slope: math.div($end-px - $start-px, 767 - 375); //傾き
  $intercept-rem: math.div($start-px - ($slope * 375), 16); // 切片（rem）

  // clamp生成
  #{$property}: clamp(
    #{$end-px}px,
    calc(#{$intercept-rem}rem + #{$slope * 100}vw),
    #{$start-px}px
  );
}

// ----------------------------------------
//  自動 逆clamp 生成（PC）1024→1920px
// ----------------------------------------

//$property - font-size / margin / padding / width / gap など
//$start-px - 初期サイズ（px）
//$end-px - 終了サイズ（px）
@mixin clamp-desktop-reverse($property, $start-px, $end-px) {
  $slope: math.div($end-px - $start-px, 1920 - 1024); //傾き
  $intercept-rem: math.div($start-px - ($slope * 1024), 16); // 切片（rem）

  // clamp生成
  #{$property}: clamp(
    #{$end-px}px,
    calc(#{$intercept-rem}rem + #{$slope * 100}vw),
    #{$start-px}px
  );
}
