@use "sass:map";

$breakpoints: (
  'tablet': 'screen and ( min-width: 768px )',
  'desktop': 'screen and ( min-width: 1024px )',
);

@mixin mq( $breakpoint: "tablet" ) {
  @media #{ map.get( $breakpoints, $breakpoint)}{
    @content;
  }
}

@mixin fontsize($size) {
  font-size: $size + px;
  font-size: ($size / 16) * 1rem;
}

@mixin font-responsive($min-px, $vw, $max-px) {
  font-size: clamp(#{$min-px / 16}rem, #{$vw}vw, #{$max-px / 16}rem);
}