@use '../foundation/mixin' as m;

// ========================================
//  Font Family
// ========================================
$fontBase: 'M PLUS 1p','Roboto', sans-serif;
$fontRoboto: 'Roboto', sans-serif;

// ========================================
//  Font Weight
// ========================================
$regular: 400;
$bold: 700;

// ========================================
//  Color
// ========================================

// ----------------------------------------
//  Text Colors
// ----------------------------------------
$color-text : #3C2A10; // メインテキスト
$color-text-light : #707070; // サブテキスト
$color-text-takeout-title : #EAEAEA; // Takeoutタイトル
$color-text-white : #FFFFFF; //白文字
$color-text-accent : #4A6C9B; // 出典リンク

// ----------------------------------------
//  Background Colors
// ----------------------------------------
$color-bg-base : #FFFDFA; //サイト全体の背景
$color-bg-header : #FFF7EF; //ヘッダー背景
$color-bg-aside : #F2EDE9; //サブメニュー背景
$color-bg-white : #FFFFFF; //白背景
$color-bg-black : #000000; //黒背景
$color-bg-button : #F2EDE9; //ボタン背景
$color-bg-button2 : #DED8D3; //ボタン背景

// ----------------------------------------
//  Border Colors
// ----------------------------------------
$color-border-light : #707070;
$color-border-white : #FFFFFF;

