body {
  font-family: "M PLUS 1p", "Roboto", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  color: #3C2A10;
  background-color: #FFFDFA;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.l-wrapper {
  width: 100%;
}

.l-header {
  width: 100%;
}

.l-main {
  width: 100%;
}

.l-aside {
  width: 100%;
  display: none;
}
@media screen and ( min-width: 1024px ) {
  .l-aside {
    display: block;
  }
}

.l-footer {
  width: 100%;
}

.c-font--heading {
  font-weight: 700;
}
.c-font--heading-xl {
  font-family: "Roboto", sans-serif;
  font-size: clamp(
    41px,
    calc(2.3831313776rem + 0.7653061224vw),
    44px
  );
}
@media screen and ( min-width: 1024px ) {
  .c-font--heading-xl {
    font-size: clamp(
    44px,
    calc(0.1785714286rem + 4.0178571429vw),
    80px
  );
  }
}
.c-font--heading-l {
  font-size: clamp(
    36px,
    calc(0.8150510204rem + 6.1224489796vw),
    60px
  );
}
.c-font--heading-m {
  font-size: 36px;
  font-size: 2.25rem;
}
@media screen and ( min-width: 1024px ) {
  .c-font--heading-m {
    font-size: clamp(
    36px,
    calc(1.9642857143rem + 0.4464285714vw),
    40px
  );
  }
}
.c-font--heading-xxs {
  font-size: 16px;
  font-size: 1rem;
}
.c-font--subheading-xl {
  font-size: 30px;
  font-size: 1.875rem;
}
@media screen and ( min-width: 1024px ) {
  .c-font--subheading-xl {
    font-size: clamp(
    30px,
    calc(1.4464285714rem + 0.6696428571vw),
    36px
  );
  }
}
.c-font--subheading-l {
  font-size: clamp(
    28px,
    calc(1.2716836735rem + 2.0408163265vw),
    36px
  );
}
.c-font--subheading-m {
  font-size: clamp(
    24px,
    calc(1.2608418367rem + 1.0204081633vw),
    28px
  );
}
.c-font--subheading-s {
  font-size: clamp(
    22px,
    calc(1.2554209184rem + 0.5102040816vw),
    24px
  );
}
.c-font--subheading-xs {
  font-size: 20px;
  font-size: 1.25rem;
}
.c-font--body-m {
  font-weight: 700;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 2.35;
}
@media screen and ( min-width: 1024px ) {
  .c-font--body-m {
    font-size: 16px;
    font-size: 1rem;
    line-height: 2.06;
  }
}
.c-font--body-s {
  font-size: 16px;
  font-size: 1rem;
}
@media screen and ( min-width: 768px ) and ( max-width: 1023px ) {
  .c-font--body-s {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media screen and ( min-width: 1024px ) {
  .c-font--body-s {
    font-size: 16px;
    font-size: 1rem;
  }
}

.c-color--text-primary {
  color: #3C2A10;
}
.c-color--text-secondary {
  color: #707070;
}
.c-color--text-tertiary {
  color: #EAEAEA;
}
.c-color--text-link {
  color: #4A6C9B;
}
.c-color--text-inverse {
  color: #FFFFFF;
}
.c-color--bg-primary {
  background-color: #FFFDFA;
}
.c-color--bg-secondary {
  background-color: #F2EDE9;
}
.c-color--bg-accent {
  background-color: #3C2B1C;
}
.c-color--bg-surface {
  background-color: #FFFFFF;
}
.c-color--bg-scrim-white {
  background-color: rgba(255, 255, 255, 0.8);
}
.c-color--bg-scrim-black {
  background-color: rgba(0, 0, 0, 0.5971);
}
.c-color--bg-scrim-black-light {
  background-color: rgba(0, 0, 0, 0.2855);
}

.c-flex {
  display: flex;
}

.c-underline {
  position: relative;
  display: inline-block;
}
.c-underline::after {
  content: "";
  display: block;
  background-color: currentColor;
}

.c-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-wrapper {
  flex: 8.08;
}

.p-header {
  width: 100%;
  height: 215px;
  box-sizing: border-box;
  background-color: #FFF7EF;
  display: flex;
  align-items: center;
}
@media screen and ( min-width: 768px ) and ( max-width: 1023px ) {
  .p-header {
    height: 217px;
  }
}
@media screen and ( min-width: 1024px ) {
  .p-header {
    justify-content: space-between;
    padding: 66px 31px 67px 65px;
  }
}
.p-header__logo img {
  width: clamp(203px, 16.93vw, 325px);
  height: auto;
}

.p-aside {
  flex: 1.92;
}

.p-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 31px;
  width: 100%;
  height: 150px;
  background-image: url("../../../images/footer/footer.png");
  background-size: cover;
}
.p-footer__nav-list {
  display: flex;
  justify-content: center;
  margin-top: 41px;
  font-size: 2rem;
}
.p-footer__item::after {
  content: "|";
  margin: 0 8px;
  color: #FFFFFF;
}
.p-footer__item:last-child::after {
  content: "";
}
.p-footer__link {
  color: #FFFFFF;
}
.p-footer__copy {
  font-size: 1.4rem;
  color: #FFFFFF;
}

.p-main-visual {
  position: relative;
  width: 100%;
  aspect-ratio: 1553/530;
  overflow: hidden;
}
.p-main-visual__inner {
  position: relative;
  width: 100%;
  height: 100%;
}
.p-main-visual__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 55%;
     object-position: 50% 55%;
  display: block;
}
.p-main-visual__title {
  position: absolute;
  top: 50%;
  left: 5.5%;
  transform: translateY(-50%);
}

.p-main-container {
  display: flex;
  gap: clamp(42px, 4.21vw, 81px);
  margin: 0;
  padding-top: clamp(41px, 6.25vw, 120px);
  padding-inline: clamp(41px, 6.25vw, 120px);
  padding-bottom: clamp(41px, 6.77vw, 130px);
}

.p-takeout {
  position: relative;
  width: 100%;
  aspect-ratio: 616/1197;
  min-height: 681px;
  overflow: hidden;
}
.p-takeout__inner {
  position: relative;
  width: 100%;
  height: 100%;
}
.p-takeout__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  display: block;
}
.p-takeout__title {
  position: absolute;
  top: 24px;
  left: 10px;
}
.p-takeout__title.c-underline::after {
  background-color: #FFFFFF;
  height: 4px;
  margin-top: clamp(
    19.34px,
    calc(0.8362611607rem + 1.5892857143vw),
    25.57px
  );
  width: clamp(
    33.89px,
    calc(1.9955564413rem + 0.5229591837vw),
    35.94px
  );
}
@media screen and ( min-width: 1024px ) {
  .p-takeout__title.c-underline::after {
    margin-top: clamp(
    25.57px,
    calc(0.353125rem + 1.9453125vw),
    43px
  );
    width: clamp(
    35.94px,
    calc(0.3133928571rem + 3.0200892857vw),
    63px
  );
  }
}
.p-takeout__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  top: 839px;
  padding: 0 16px;
}
.p-takeout__item {
  height: 162px;
  padding: 16px;
}
.p-takeout__text {
  margin-top: 5px;
}

.p-eatin {
  position: relative;
  width: 100%;
  aspect-ratio: 616/1197;
  min-height: 681px;
  overflow: hidden;
}
.p-eatin__inner {
  position: relative;
  width: 100%;
  height: 100%;
}
.p-eatin__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  display: block;
}
.p-eatin__title {
  position: absolute;
  top: 24px;
  left: 10px;
}
.p-eatin__title.c-underline::after {
  height: 4px;
  margin-top: clamp(
    19.34px,
    calc(0.8362611607rem + 1.5892857143vw),
    25.57px
  );
  width: clamp(
    33.89px,
    calc(1.9955564413rem + 0.5229591837vw),
    35.94px
  );
}
@media screen and ( min-width: 1024px ) {
  .p-eatin__title.c-underline::after {
    margin-top: clamp(
    25.57px,
    calc(0.353125rem + 1.9453125vw),
    43px
  );
    width: clamp(
    35.94px,
    calc(0.3133928571rem + 3.0200892857vw),
    63px
  );
  }
}
.p-eatin__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  top: 839px;
  padding: 0 16px;
}
.p-eatin__item {
  height: 162px;
  padding: 16px;
}
.p-eatin__text {
  margin-top: 5px;
}

.p-access {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: clamp(
    415px,
    calc(59.6894132653rem + -70.4081632653vw),
    691px
  );
}
@media screen and ( min-width: 1024px ) {
  .p-access {
    height: clamp(
    415px,
    calc(9.2232142857rem + 26.1160714286vw),
    649px
  );
  }
}
.p-access__bg {
  position: absolute;
  inset: 0;
  z-index: 0;
}
.p-access__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-access__overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
}
.p-access__inner {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 60%;
  padding-top: clamp(
    12px,
    calc(4.4186862245rem + -7.6530612245vw),
    42px
  );
  padding-right: clamp(
    29px,
    calc(3.157684949rem + -2.806122449vw),
    40px
  );
  padding-left: clamp(
    21px,
    calc(3.6360012755rem + -4.8469387755vw),
    40px
  );
  gap: 14px;
}
@media screen and ( min-width: 768px ) and ( max-width: 1023px ) {
  .p-access__inner {
    inset: auto 0 0 auto;
    width: 97.5%;
    height: 92.8%;
  }
}
@media screen and ( min-width: 1024px ) {
  .p-access__inner {
    inset: 0 auto 0 0;
    height: 100%;
    width: 61.2%;
    padding-top: clamp(
    12px,
    calc(-4.5357142857rem + 8.2589285714vw),
    86px
  );
    padding-right: clamp(
    29px,
    calc(-5.6875rem + 11.71875vw),
    134px
  );
    padding-left: clamp(
    21px,
    calc(-5.6875rem + 10.9375vw),
    119px
  );
    gap: clamp(
    14px,
    calc(-2.3035714286rem + 4.9665178571vw),
    58.5px
  );
  }
}
.p-access__title.c-underline::after {
  height: 2px;
  width: 75px;
  margin-top: 15px;
}
@media screen and ( min-width: 1024px ) {
  .p-access__title.c-underline::after {
    margin-top: clamp(
    15px,
    calc(-1.5982142857rem + 3.9620535714vw),
    50.5px
  );
  }
}

.p-sidemenu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #F2EDE9;
  color: #707070;
  padding: 84px 46px;
}
.p-sidemenu__title {
  font-family: "Roboto", sans-serif;
  font-size: 3.4rem;
  font-weight: 700;
}
.p-sidemenu__list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-top: 90px;
}
.p-sidemenu__category {
  font-size: 2.4rem;
  font-weight: 700;
}

.p-submenu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 32px;
  padding-left: 20px;
}
.p-submenu__link {
  font-size: 2rem;
}
/*# sourceMappingURL=style.css.map */