body {
  font-family: "M PLUS 1p", "Roboto", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  color: #3C2A10;
  background-color: #FFFDFA;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.l-wrapper {
  width: 100%;
  display: block;
}
@media screen and ( min-width: 1024px ) {
  .l-wrapper {
    display: flex;
  }
}

.l-header {
  width: 100%;
}

.l-main {
  width: 100%;
}

.l-footer {
  width: 100%;
}

.c-font--heading {
  font-weight: 700;
}
.c-font--heading-xl {
  font-family: "Roboto", sans-serif;
  font-size: clamp(
    41px,
    calc(2.3831313776rem + 0.7653061224vw),
    44px
  );
}
@media screen and ( min-width: 1024px ) {
  .c-font--heading-xl {
    font-size: clamp(
    44px,
    calc(0.1785714286rem + 4.0178571429vw),
    80px
  );
  }
}
.c-font--heading-l {
  font-size: clamp(
    36px,
    calc(0.8150510204rem + 6.1224489796vw),
    60px
  );
}
.c-font--heading-m {
  font-size: 36px;
  font-size: 2.25rem;
}
@media screen and ( min-width: 1024px ) {
  .c-font--heading-m {
    font-size: clamp(
    36px,
    calc(1.9642857143rem + 0.4464285714vw),
    40px
  );
  }
}
.c-font--heading-xxs {
  font-size: 16px;
  font-size: 1rem;
}
.c-font--subheading-xl {
  font-size: 30px;
  font-size: 1.875rem;
}
@media screen and ( min-width: 1024px ) {
  .c-font--subheading-xl {
    font-size: clamp(
    30px,
    calc(1.4464285714rem + 0.6696428571vw),
    36px
  );
  }
}
.c-font--subheading-l {
  font-size: clamp(
    28px,
    calc(1.2716836735rem + 2.0408163265vw),
    36px
  );
}
.c-font--subheading-m {
  font-size: clamp(
    24px,
    calc(1.2608418367rem + 1.0204081633vw),
    28px
  );
}
.c-font--subheading-s {
  font-size: clamp(
    22px,
    calc(1.2554209184rem + 0.5102040816vw),
    24px
  );
}
.c-font--subheading-xs {
  font-size: 20px;
  font-size: 1.25rem;
}
.c-font--body-m {
  font-weight: 700;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 2.35;
}
@media screen and ( min-width: 1024px ) {
  .c-font--body-m {
    font-size: 16px;
    font-size: 1rem;
    line-height: 2.06;
  }
}
.c-font--body-s {
  font-size: 16px;
  font-size: 1rem;
}
@media screen and ( min-width: 768px ) {
  .c-font--body-s {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media screen and ( min-width: 1024px ) {
  .c-font--body-s {
    font-size: 16px;
    font-size: 1rem;
  }
}

.c-color--text-primary {
  color: #3C2A10;
}
.c-color--text-secondary {
  color: #707070;
}
.c-color--text-tertiary {
  color: #EAEAEA;
}
.c-color--text-link {
  color: #4A6C9B;
}
.c-color--text-inverse {
  color: #FFFFFF;
}
.c-color--bg-primary {
  background-color: #FFFDFA;
}
.c-color--bg-secondary {
  background-color: #F2EDE9;
}
.c-color--bg-accent {
  background-color: #3C2B1C;
}
.c-color--bg-surface {
  background-color: #FFFFFF;
}
.c-color--bg-scrim-white {
  background-color: rgba(255, 255, 255, 0.8);
}
.c-color--bg-scrim-black {
  background-color: rgba(0, 0, 0, 0.5971);
}
.c-color--bg-scrim-black-light {
  background-color: rgba(0, 0, 0, 0.2855);
}

.c-layout__wrapper {
  width: 100%;
}
@media screen and ( min-width: 1024px ) {
  .c-layout__wrapper {
    flex: 8.08;
  }
}
.c-layout__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-top: clamp(
    20px,
    calc(0.0542091837rem + 5.1020408163vw),
    40px
  );
  padding-right: clamp(
    20px,
    calc(0.0542091837rem + 5.1020408163vw),
    40px
  );
  padding-bottom: clamp(
    40px,
    calc(3.6006058673rem + -2.2959183673vw),
    49px
  );
  padding-left: clamp(
    20px,
    calc(0.0542091837rem + 5.1020408163vw),
    40px
  );
}
@media screen and ( min-width: 768px ) {
  .c-layout__container {
    flex-direction: row;
    gap: clamp(
    41px,
    calc(-0.2946428571rem + 4.4642857143vw),
    81px
  );
  }
}
@media screen and ( min-width: 1024px ) {
  .c-layout__container {
    padding-top: clamp(
    40px,
    calc(-3.2142857143rem + 8.9285714286vw),
    120px
  );
    padding-right: clamp(
    40px,
    calc(-3.2142857143rem + 8.9285714286vw),
    120px
  );
    padding-bottom: clamp(
    40px,
    calc(-3.9285714286rem + 10.0446428571vw),
    130px
  );
    padding-left: clamp(
    40px,
    calc(-3.2142857143rem + 8.9285714286vw),
    120px
  );
  }
}
.c-layout__aside {
  display: none;
}
@media screen and ( min-width: 1024px ) {
  .c-layout__aside {
    display: block;
    flex: 1.92;
    min-width: 328px;
  }
}

.c-search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: clamp(
    12px,
    calc(0.6304209184rem + 0.5102040816vw),
    14px
  );
  width: 100%;
  max-width: clamp(
    318px,
    calc(6.2429846939rem + 58.1632653061vw),
    546px
  );
}
@media screen and ( min-width: 375px ) {
  .c-search {
    flex-wrap: nowrap;
  }
}
.c-search__input {
  width: 100%;
  height: 46px;
  color: #707070;
  font-weight: 700;
  border: 1px solid #707070;
  border-radius: 10px;
  padding-top: clamp(
    7px,
    calc(0.9266581633rem + -1.0204081633vw),
    11px
  );
  padding-right: 12px;
  padding-bottom: clamp(
    6px,
    calc(0.9864477041rem + -1.2755102041vw),
    11px
  );
  padding-left: clamp(
    49px,
    calc(2.3450255102rem + 3.0612244898vw),
    61px
  );
  background-color: #FFFFFF;
  background-image: url("../../../images/search/search.png");
  background-repeat: no-repeat;
  background-position-x: clamp(
    5px,
    calc(-0.1060267857rem + 1.7857142857vw),
    12px
  );
  background-position-y: center;
  background-size: 24px 24px;
}
.c-search__button {
  flex-shrink: 0;
  width: clamp(
    90px,
    calc(2.8746811224rem + 11.7346938776vw),
    136px
  );
  height: 46px;
  color: #707070;
  font-weight: 700;
  border: 1px solid #707070;
  border-radius: 10px;
  background: linear-gradient(90deg, #F2EDE9 0%, #DED8D3 100%);
}

.c-underline {
  position: relative;
  display: inline-block;
}
.c-underline::after {
  content: "";
  display: block;
  background-color: currentColor;
}

.c-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 215px;
  background-color: #FFF7EF;
}
@media screen and ( min-width: 375px ) {
  .p-header {
    gap: 40px;
  }
}
@media screen and ( min-width: 768px ) {
  .p-header {
    height: 217px;
  }
}
@media screen and ( min-width: 1024px ) {
  .p-header {
    flex-direction: row;
    justify-content: space-between;
    gap: 65px;
    padding: 31px;
  }
}
.p-header__logo img {
  width: 100%;
  max-width: clamp(
    203px,
    calc(3.9732142857rem + 13.6160714286vw),
    325px
  );
}
@media screen and ( min-width: 1024px ) {
  .p-header__logo img {
    padding: 0 34px;
  }
}

.p-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(
    44px,
    calc(5.9295280612rem + -6.6326530612vw),
    70px
  );
  width: 100%;
  min-height: 150px;
  padding-top: clamp(
    16px,
    calc(0.1629464286rem + 3.5714285714vw),
    30px
  );
  padding-bottom: clamp(
    16px,
    calc(0.5216836735rem + 2.0408163265vw),
    24px
  );
  background-image: url("../../../images/footer/footer.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and ( min-width: 1024px ) {
  .p-footer {
    gap: clamp(
    31px,
    calc(3.6785714286rem + -1.4508928571vw),
    44px
  );
    padding-top: clamp(
    30px,
    calc(1.0892857143rem + 1.2276785714vw),
    41px
  );
    padding-bottom: clamp(
    24px,
    calc(1.2857142857rem + 0.3348214286vw),
    27px
  );
  }
}
.p-footer__nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 18px;
  font-size: 1.125rem;
}
@media screen and ( min-width: 768px ) {
  .p-footer__nav-list {
    font-size: 20px;
    font-size: 1.25rem;
  }
}
.p-footer__item:not(:last-child)::after {
  content: "|";
  margin: 0 8px;
  color: #FFFFFF;
}
.p-footer__link {
  color: #FFFFFF;
}
.p-footer__copy {
  font-size: 14px;
  font-size: 0.875rem;
  color: #FFFFFF;
}

.p-main-visual {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 285px;
}
@media screen and ( min-width: 1024px ) {
  .p-main-visual {
    height: clamp(
    285px,
    calc(0.3125rem + 27.34375vw),
    530px
  );
  }
}
.p-main-visual__title {
  position: absolute;
  top: 50%;
  left: clamp(
    25px,
    calc(-2.7946428571rem + 6.8080357143vw),
    86px
  );
  transform: translateY(-50%);
}
.p-main-visual__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 55%;
     object-position: 50% 55%;
  display: block;
}

.p-takeout {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.p-takeout__inner {
  position: relative;
  width: 100%;
  height: 100%;
}
.p-takeout__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  display: block;
}
.p-takeout__title {
  position: absolute;
  top: 13px;
  left: 13px;
}
@media screen and ( min-width: 1024px ) {
  .p-takeout__title {
    top: clamp(
    13px,
    calc(0.0267857143rem + 1.2276785714vw),
    24px
  );
  }
}
.p-takeout__title.c-underline::after {
  background-color: #FFFFFF;
  height: 4px;
  margin-top: clamp(
    19.34px,
    calc(0.8362611607rem + 1.5892857143vw),
    25.57px
  );
  width: clamp(
    33.89px,
    calc(1.9955564413rem + 0.5229591837vw),
    35.94px
  );
}
@media screen and ( min-width: 1024px ) {
  .p-takeout__title.c-underline::after {
    margin-top: clamp(
    25.57px,
    calc(0.353125rem + 1.9453125vw),
    43px
  );
    width: clamp(
    35.94px,
    calc(0.3133928571rem + 3.0200892857vw),
    63px
  );
  }
}
.p-takeout__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: absolute;
}
.p-takeout__item {
  height: 162px;
  padding: 16px;
}
.p-takeout__text {
  margin-top: 5px;
}

.p-eatin {
  position: relative;
  width: 100%;
  aspect-ratio: 616/1197;
  min-height: 681px;
  overflow: hidden;
}
.p-eatin__inner {
  position: relative;
  width: 100%;
  height: 100%;
}
.p-eatin__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  display: block;
}
.p-eatin__title {
  position: absolute;
  top: 24px;
  left: 10px;
}
.p-eatin__title.c-underline::after {
  height: 4px;
  margin-top: clamp(
    19.34px,
    calc(0.8362611607rem + 1.5892857143vw),
    25.57px
  );
  width: clamp(
    33.89px,
    calc(1.9955564413rem + 0.5229591837vw),
    35.94px
  );
}
@media screen and ( min-width: 1024px ) {
  .p-eatin__title.c-underline::after {
    margin-top: clamp(
    25.57px,
    calc(0.353125rem + 1.9453125vw),
    43px
  );
    width: clamp(
    35.94px,
    calc(0.3133928571rem + 3.0200892857vw),
    63px
  );
  }
}
.p-eatin__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  top: 839px;
  padding: 0 16px;
}
.p-eatin__item {
  height: 162px;
  padding: 16px;
}
.p-eatin__text {
  margin-top: 5px;
}

.p-access {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: clamp(
    415px,
    calc(59.6894132653rem + -70.4081632653vw),
    691px
  );
}
@media screen and ( min-width: 1024px ) {
  .p-access {
    height: clamp(
    415px,
    calc(9.2232142857rem + 26.1160714286vw),
    649px
  );
  }
}
.p-access__bg {
  position: absolute;
  inset: 0;
  z-index: 0;
}
.p-access__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-access__overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
}
.p-access__inner {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 60%;
  padding-top: clamp(
    12px,
    calc(4.4186862245rem + -7.6530612245vw),
    42px
  );
  padding-right: clamp(
    29px,
    calc(3.157684949rem + -2.806122449vw),
    40px
  );
  padding-left: clamp(
    21px,
    calc(3.6360012755rem + -4.8469387755vw),
    40px
  );
  gap: 14px;
}
@media screen and ( min-width: 768px ) {
  .p-access__inner {
    inset: auto 0 0 auto;
    width: 97.5%;
    height: 92.8%;
  }
}
@media screen and ( min-width: 1024px ) {
  .p-access__inner {
    inset: 0 auto 0 0;
    height: 100%;
    width: 61.2%;
    padding-top: clamp(
    12px,
    calc(-4.5357142857rem + 8.2589285714vw),
    86px
  );
    padding-right: clamp(
    29px,
    calc(-5.6875rem + 11.71875vw),
    134px
  );
    padding-left: clamp(
    21px,
    calc(-5.6875rem + 10.9375vw),
    119px
  );
    gap: clamp(
    14px,
    calc(-2.3035714286rem + 4.9665178571vw),
    58.5px
  );
  }
}
.p-access__title.c-underline::after {
  height: 2px;
  width: 75px;
  margin-top: 15px;
}
@media screen and ( min-width: 1024px ) {
  .p-access__title.c-underline::after {
    margin-top: clamp(
    15px,
    calc(-1.5982142857rem + 3.9620535714vw),
    50.5px
  );
  }
}

.p-sidemenu {
  width: 100%;
  height: 100%;
  padding: 178px 20px 84px 46px;
  color: #707070;
  background-color: #F2EDE9;
}
@media screen and ( min-width: 1024px ) {
  .p-sidemenu {
    display: flex;
    flex-direction: column;
    gap: 90px;
    padding: 84px 20px 84px 46px;
  }
}
.p-sidemenu__title {
  font-family: "Roboto", sans-serif;
  font-size: clamp(
    20px,
    calc(0.4129464286rem + 3.5714285714vw),
    34px
  );
  font-weight: 700;
  display: none;
}
@media screen and ( min-width: 1024px ) {
  .p-sidemenu__title {
    display: block;
  }
}
.p-sidemenu__nav-list {
  display: flex;
  flex-direction: column;
  gap: clamp(
    48px,
    calc(2.2825255102rem + 3.0612244898vw),
    60px
  );
}
@media screen and ( min-width: 1024px ) {
  .p-sidemenu__nav-list {
    gap: 48px;
  }
}
.p-sidemenu__category {
  display: flex;
  flex-direction: column;
  gap: clamp(
    32px,
    calc(1.5216836735rem + 2.0408163265vw),
    40px
  );
}
@media screen and ( min-width: 1024px ) {
  .p-sidemenu__category {
    gap: 32px;
  }
}
.p-sidemenu__item {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 700;
}
.p-sidemenu__sub-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 0 0 20px;
}
.p-sidemenu__subitem {
  font-size: 20px;
  font-size: 1.25rem;
}

.u-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}
/*# sourceMappingURL=style.css.map */