@use '../../foundation/mixin' as m;
@use '../../foundation/variables' as vars;

// ========================================
//  Border (枠線)
// ========================================

 .c-border {
   &--primary { border: vars.$border-gray-700-1; } 
 }
