@use '../../foundation/mixin' as m;
@use '../../foundation/variables' as vars;

.c-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-weight: vars.$bold;


  &--grad {
    @extend .c-button;
    border: vars.$border-gray-700-1;
    background: vars.$grad-beige-gray;
  }

}