@use '../../foundation/mixin' as m;
@use '../../foundation/variables' as vars;

.c-card {
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 100%;
  overflow: hidden;

  @include m.mq() {
    flex-direction: row;
  }

  &__picture {
    @include m.mq() {
      width: 50%;
      min-height: 0;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @include m.clamp-mobile(gap, 40, 45);
    padding-top: 32px;
    padding-right: 16px;
    @include m.clamp-mobile-reverse(padding-bottom, 44, 40);
    @include m.clamp-mobile(padding-left, 3, 31);
    background-color: vars.$color-brown-800;

    @include m.mq() {
      width: 50%;
      min-height: 0;
      padding-top: 31px;
    }

    @include m.mq(desktop) {
      @include m.clamp-desktop(gap, 45, 60);
      @include m.clamp-desktop(padding-top, 31, 56);
      padding-right: 16px;
      @include m.clamp-desktop(padding-bottom, 40, 60);
      @include m.clamp-desktop(padding-left, 31, 42);
    }

  }

  &__body {
    color: vars.$color-white;
    @include m.clamp-mobile(padding-right, 0, 43);
    @include m.clamp-mobile-reverse(padding-left, 14, 4);

    @include m.mq(desktop) {
      @include m.clamp-desktop(padding-right, 43, 88);
      @include m.clamp-desktop(padding-left, 4, 21);
    }
  }

  &__title {
    @include m.font-size(20);
    font-weight: vars.$bold;
    margin-bottom: 21px;

    @include m.mq(desktop) {
      @include m.clamp-desktop(font-size, 20, 36);
      @include m.clamp-desktop(margin-bottom, 21, 44);
    }
  }

  &__subtitle {
    font-weight: vars.$bold;
    margin-bottom: 7px;

    @include m.mq(desktop) {
      @include m.clamp-desktop(font-size, 16, 24);
      @include m.clamp-desktop(margin-bottom, 7, 13);
    }
  }

  &__footer {
    align-self: center;
  }

  &__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    padding: 11px 42px 14px 41px;
    border-radius: 21px;
    font-weight: vars.$bold;
    color: vars.$color-gray-700;
    line-height: vars.$lh-s;
    background-color: vars.$color-white;
    text-align: center;

    @include m.mq(desktop) {
      @include m.clamp-desktop-multi(padding, (11 42 14 41), (23 106 20 106));
      @include m.clamp-desktop(border-radius, 21, 38);
      @include m.clamp-desktop(line-height, 17, 33); //px指定
    }
  }
}