@use '../../foundation/mixin' as m;
@use '../../foundation/variables' as vars;

.c-card {
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 100%;
  overflow: hidden;

  @include m.mq() {
    flex-direction: row;
  }

  &__picture {
    @include m.mq() {
      width: 50%;
      min-height: 0;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
  }

  &__content {
    display: flex;
    flex-direction: column;
    @include m.clamp-mobile(gap, 40, 45);
    @include m.clamp-mobile-multi(padding, (32 16 42 16), (32 36 42 36));
        
    @include m.mq() {
      width: 50%;
      min-height: 0;
    }
    
    @include m.mq(desktop) {
      @include m.clamp-desktop(gap, 45, 60);
      @include m.clamp-desktop-multi(padding, (32 36 42 36), (56 63 60 63));
    }
    
  }
  
  &__body {
    flex-grow: 1;
  }

  &__title {
    @include m.font-size(20);
    font-weight: vars.$bold;
    margin-bottom: 21px;

    @include m.mq(desktop) {
      @include m.clamp-desktop(font-size, 20, 36);
      @include m.clamp-desktop(margin-bottom, 21, 44);
    }
  }

  &__subtitle {
    font-weight: vars.$bold;
    margin-bottom: 7px;

    @include m.mq(desktop) {
      @include m.clamp-desktop(font-size, 16, 24);
      @include m.clamp-desktop(margin-bottom, 7, 13);
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
  }

  &__button {
    border-radius: 21px;
    padding: 11px 42px 14px 41px;
    line-height: vars.$lh-s;
    text-align: center;

    @include m.mq(desktop) {
      @include m.clamp-desktop(border-radius, 21, 38);
      @include m.clamp-desktop-multi(padding, (11 42 14 41), (23 106 20 106));
      @include m.clamp-desktop(line-height, 17, 33); //px指定
    }
  }
}