@use '../../foundation/mixin' as m;
@use '../../foundation/variables' as vars;


// ----------------------------------------
//  Color Component
// ----------------------------------------

.c-color {
  // Text Colors
  &--text-primary { color: vars.$color-brown-900; } //メインテキスト //主要色=primary
  &--text-secondary { color: vars.$color-gray-700; } //サブテキスト //副次的な二次色=secondary
  &--text-tertiary { color: vars.$color-gray-200; } //副次的な三次色=tertiary
  &--text-link { color: vars.$color-blue-700; } // 出典リンク
  &--text-inverse { color: vars.$color-white; } //白文字＝暗い背景　//inverse＝反転

  // Background Colors
  &--bg-primary { background-color: vars.$color-cream-50; } //サイト全体の背景
  &--bg-secondary { background-color: vars.$color-beige-100; } //サイドメニュー背景
  &--bg-tertiary { color: vars.$color-cream-50; } //ヘッダー背景
  &--bg-accent { background-color: vars.$color-brown-800; } //ページネーション
  &--bg-muted {   background-color: vars.$color-gray-100; } //控えめな背景 //muted=落ち着いた色合い
  &--bg-surface { background-color: vars.$color-white; } //白背景 //surface＝表面

  // Overlay Colors
  &--bg-overlay-white-80 {background-color: vars.$overlay-white-80;} //白透過背景
  &--bg-overlay-black-50 {background-color: vars.$overlay-black-50;} //黒透過背景50%
  &--bg-overlay-black-40 {background-color: vars.$overlay-black-40;} //黒透過背景40%
  &--bg-overlay-black-30 {background-color: vars.$overlay-black-30;} //黒透過背景30%

  
}
