@use '../../foundation/mixin' as m;
@use '../../foundation/variables' as vars;

.c-fade-out {
  animation: fadeOut 300ms ease-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}