@use '../../foundation/mixin' as m;
@use '../../foundation/variables' as vars;

.c-font {

  // ----------------------------------------
  //  Heading（見出し）
  // ----------------------------------------

  &-h {
    font-weight: vars.$bold;


    //Heading size XL (41→44→80px) 
    &--xl {
      @include m.clamp-mobile(font-size, 41, 44);

      @include m.mq(desktop) {
        @include m.clamp-desktop(font-size, 44, 80);
      }
    }

    //Heading size L (36→60px)
    &--l {
      @include m.clamp-mobile(font-size, 36, 60);
      font-family: vars.$fontAccent;
    }

    //Heading size M (36→40px)
    &--m {
      @include m.font-size(36);

      @include m.mq(desktop) {
        @include m.clamp-desktop(font-size, 36, 40);
      }
    }

    //Heading size XXS (16px)
    &--xxs {
      @include m.font-size(16);
    }
  }

  // ----------------------------------------
  //  SubHeading（小見出し）
  // ----------------------------------------

  &-subh {

    //SubHeading size XL (30→36px)
    &--xl {
      @include m.font-size(30);

      @include m.mq(desktop) {
        @include m.clamp-desktop(font-size, 30, 36);
      }
    }

    //SubHeading size L (28→36px)
    &--l {
      @include m.clamp-mobile(font-size, 28, 36);
    }

    //SubHeading size M (24→28px)
    &--m {
      @include m.clamp-mobile(font-size, 24, 28);
    }

    //SubHeading size S (22→24px)
    &--s {
      @include m.clamp-mobile(font-size, 22, 24);
    }

    //SubHeading size XS (20px)
    &--xs {
      @include m.font-size(20);
    }

  }

  // ----------------------------------------
  //  Text（本文）
  // ----------------------------------------

  &-text {

    //Text size M (14→16px)

    &--m {
      font-weight: vars.$bold;
      @include m.font-size(14);

      @include m.mq(desktop) {
        @include m.font-size(16);
      }
    }

    //Text size S  (16→14→16px)
    &--s {
      @include m.font-size(16);

      @include m.mq() {
        @include m.font-size(14);
      }

      @include m.mq(desktop) {
        @include m.font-size(16);
      }
    }
  }
}