@use '../../foundation/mixin' as m;
@use '../../foundation/variables' as vars;

.c-header {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: vars.$color-cream-100;

  display: flex;
  align-items: center;

  @include m.mq(desktop) {
    justify-content: space-between;
    padding: 66px 31px 67px 65px;
  }

  &__logo img {
    width: clamp(203px, 16.93vw, 325px);
    height: auto;
  }

}