@use '../../foundation/mixin' as m;
@use '../../foundation/variables' as vars;

.c-hero {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 285px;

  @include m.mq(desktop) {
    @include m.clamp-desktop-reverse(height, 285, 239);
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    z-index: 0;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    z-index: 1;
  }

  &__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @include m.clamp-mobile(left, 37, 86);
    z-index: 2;
  }

  &__subtitle {
    @include m.mq() {
      padding: 31px 0 15px 0;
    }

  }
}